fastapi==0.110.0
uvicorn==0.23.2
python-multipart==0.0.9

rapidfuzz==3.6.1
rank-bm25==0.2.2

# متوافق مع Python 3.9
numpy==1.21.6
scipy==1.7.3
scikit-learn==1.0.2
joblib==1.1.0
threadpoolctl==3.1.0

# أدوات بناء لتفادي خطأ build_meta
setuptools==67.8.0
wheel==0.41.2
pip==23.2.1
